.editForm {
  position: absolute;
  padding: 25px;
  top: 50px;
  left: 50px;
  background: white;
  border-radius: 5px;
  width: 200px;
}

.loginButton {
  position: absolute;
  padding: 25px;
  top: 50px;
  right: 50px;
  background: white;
  border-radius: 5px;
}